// Mixin reset
@mixin reset() {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Mixin per rendere orizzonatale un Ul
@mixin listHorizontal() {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

// Mixin per proprietà flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Mixin per centrare in base alla larghezza
@mixin center-x($percent) {
    width: $percent;
    margin: 0 auto;
}

// Mixin per font size, weight, color
@mixin font($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}