// Color font
$font-colorNavbar: #3f3a64;

// Size font
$font-sizeNavbar: 0.8rem;
$font-titleh1: 3rem;
$font-titleh2: 2rem;
$font-statistic: 2.5rem;
//color
$color-mountainMeadow: #1fad95;
$color-quillGray: #e2e2e0;
$color-gunSmoke: #8a9391;
$color-stormDust: #6c6c6b;
$color-texasRose: #febc4d;
$color-vulcan: #141423;